:root {
    --color-background-pink: #ffe9e5;
    --color-background-dark-pink: #ffe4e0;
    --color-pink: #fc79e4;
    --color-purple: #342a5a;
    --color-orange: #d16b47;
    --color-yellow: #d2c145;
}