.content-container2 {
    flex: 1 1 600px;
    height: auto;
    background: var(--color-background-dark-pink);
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    background-image: url("../../assets/icons/hold-transparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 10rem;
}

.italic {
    font-family: Satoshi-Italic;
}